{% extends 'home/index.html' %}

{% block title_pagina %}
<title>About</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<div class="container px-5">
    <br><h2>Somos Marco Santini, Manuel Puchurri y Mara Pallero</h2><br>
    <p>Somos estudiantes de Coderhouse, decidimos dar nuestro primer paso a la programación en Python y nos asociamos para crear este proyecto que esperamos aprobar exitosamente!!!</p>
    <p>Les contamos acerca de cada uno de nosotros:  </p>
    <p>Mara Jorgelina Pallero, de nacionalidad argentina con residencia en Capital Federal, estudié la carrera de Contador Público en la UBA pero desde el año pasado decidí cambiar el rumbo hacia el mundo IT.  Actualmente trabajo de Data Analyst en una agencia de publicidad y espero poder seguir sumando conocimientos en este maravilloso mundo.</p>
</div>
{% endblock mi_contenido %}