{% extends 'home/base.html' %}

{% block mi_contenido %}
    {% block mi_header %}
    <!-- Header-->
    <header class="bg-dark py-5"> </header>
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    {% block texto_header %}
                    <h1 class="display-5 fw-bolder text-white mb-2">Nuestro primer proyecto en Coder</h1>
                    {% endblock texto_header %}
                    <img class="body-image" width="350" height="350" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fres.cloudinary.com%2Fhdsqazxtw%2Fimage%2Fupload%2Fv1559681445%2Flogo_coderhouse_2_bmqbet.png&f=1&nofb=1&ipt=09c077ff82a67d0283ed4055f0b851454a94334ea32ec479a90ef121dc64c95d&ipo=images"/>
                </div>
            </div>
        </div>
    </div>

    {% endblock mi_header %}

    {% block inicio_contenido %}
    {% endblock inicio_contenido %}

{% endblock mi_contenido %}




    

