{% extends 'home/inicio.html' %}

{% block title_pagina %}
    <title>Listar clientes</title>
{% endblock title_pagina %}

{% block texto_header %}
    <h2 class="display-5 fw-bolder text-white mb-2">Nuestros Clientes</h2>
{% endblock texto_header %}

{% block mi_contenido %}
    <div class="container px-5">
        <br><a href={% url 'crear_cliente' %}>Crear Cliente</a>
    </div><br>

    <div class="container px-5">
        <h2><p>Listado de Clientes:</p></h2>

    <form action={% url 'listar_clientes' %} method="GET">
        {{formulario}}
        <button>Buscar</button>
    </form>
    <p>
        {% if object_list %}
        {% for cliente in object_list %}
            <li class="lista-clientes" > 
                <a href={% url 'ver_cliente' cliente.id %}>{{cliente}}</a>
                <a href={% url 'editar_cliente' cliente.id %}>Editar</a>
                <a href={% url 'eliminar_cliente' cliente.id %}>Eliminar</a> 
            </li>
        {% endfor %}
        {% else %}
            No hay clientes en nuestra base de datos
        {% endif %}
    </p>

{% endblock mi_contenido %}

