{% extends 'home/base.html' %}

{% block title_pagina %}
<title>Editar Perfil</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<div class="container px-5">
    <p>
        <form action={% url 'editar_perfil' %} method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <table>
                {{form.media}}
                {{formulario}}
            </table><br>
                <button>Confirmar</button
        </form>
    </p>
</div>
{% endblock mi_contenido %}