{% extends 'home/base.html' %}

{% block mi_contenido %}
    {% block mi_header %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        {% block texto_header %}
                        <h1 class="display-5 fw-bolder text-white mb-2">Nuestro primer proyecto en Coder</h1>
                        {% endblock texto_header %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock mi_header %}

    {% block index_contenido %}
    {% endblock index_contenido %}

{% endblock mi_contenido %}




    

