{% extends 'home/inicio.html' %}

{% block title_pagina %}
<title>Eliminar cliente</title>
{% endblock title_pagina %}

{% block texto_header %}
<h2 class="display-5 fw-bolder text-white mb-2">Eliminar Cliente</h2>
{% endblock texto_header %}

{% block inicio_contenido %}
<form action={% url 'eliminar_cliente' cliente.id %} method="post">
    {% csrf_token %}
   <p>
    Está seguro que desea eliminar el cliente: {{cliente}}?
   </p>
    <button>Confirmar</button>
</form>
{% endblock inicio_contenido %}